@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bitter', serif;
}

.container {
    max-width: 1280px;
    margin: auto;
}

/* Header */

.header .container .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .container .wrapper .logo {
    width: 450px;
}

.header .container .wrapper .logo img {
    width: 15%;
    padding-top: 15px;
}

.header .container .wrapper .logo span {
    display: inline-block;
    font-size: 32px;
    padding-top: 10px;
    width: 15px;
}

.header .container .wrapper .menu {
    flex-grow: 1;
    text-align: start;
}

.header .container .wrapper .menu a {
    text-decoration: none;
    font-size: 20px;
    margin-left: 25px;
    color: black;
    transition: all 0.25s;
}

.header .container .wrapper .menu a:hover {
    color: #50d50a;
    border-bottom: 1px solid #50d50a;
    padding-bottom: 5px;
}

.header .container .wrapper .search {
    font-size: 22px;
    width: 10%;
    text-align: end;
}

.header .container .wrapper .cart {

    font-size: 22px;
}

.header .container .wrapper .cart a,
.header .container .wrapper .search a {
    color: #1e4808;
}

/* Carousel */
.carousel_content {
    display: flex;
}

.carousel_content .content_left {
    width: 100%;

}

.carousel_content .content_right {
    width: 100%;
    text-align: center;
}

.carousel_content .content_left h1 {
    font-size: 56px;
    margin-top: 15%;
    font-weight: normal;
    word-spacing: 3px;
}

.carousel_content .content_left span {
    color: #527851;
    font-weight: normal;
}

.carousel_content .content_left p {
    margin-top: 25px;
    font-size: 20px;
    line-height: 30px;
    padding-right: 25%;
    padding-left: 5px;
}

.content_left .btn_buyNow {
    border: 1px solid #1e4808;
    padding: 12px 35px;
    background-color: #1e4808;
    color: white;
    margin-top: 25px;
    cursor: pointer;

}

.carousel_slider_btn {
    display: flex;
    margin-top: 15%;
    font-size: 40px;
    justify-content: start;
}

.carousel_slider_btn .prev i,
.carousel_slider_btn .next i {
    border: 1px solid #1e4808;
    color: white;
    background-color: #1e4808;
    margin: 0 15px 35px 0;
}

/*Popular */

.popular {
    background-color: #e8e1d6;
    padding: 3% 0;
}

.popular .container h1 {
    font-size: 36px;
    font-weight: 400;
    padding-bottom: 20px;
}

.popular_listsItem {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}

.popular_listsItem .item .imgItem img,
.product_list .item .product_img img {
    width: 300px;
    height: 340px;
}

.popular_listsItem .item_3 .imgItem img,
.popular_listsItem .item_4 .imgItem img {
    width: 100%;
    height: 300%;
}


.popular_listsItem .item_3 {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 6;
}

.popular_listsItem .item_4 {
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3;
}

/* background Item */

.popular_listsItem .item {
    background-color: white;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    margin-left: 10px;
}

.popular_listsItem .item img,
.product_list .item img {
    border: white;
    background-color: white;
    padding: 5px;
}


.popular_listsItem .item_6 img,
.product_list .item_1 img,
.product_list .item_6 img {
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
}


.popular_listsItem .item.item_5 p {
    margin-bottom: 25px;
}


.popular_listsItem .item h3 {
    font-size: 18px;
    padding: 10px;
}

.popular_listsItem .item p {
    margin: 0 30px 0 10px;
    font-size: 15px;
    line-height: 1.5;
}

.popular_listsItem .item .price p {
    display: inline-block;
    margin: 15px 0 15px 10px;
    color: #71956e;
    font-weight: 500;
}

.popular_listsItem .item .price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular_listsItem .item .price .addCart {
    border: none;
    margin-right: 10%;
    font-size: 25px;
    background-color: white;
    color: #71956e;
    cursor: pointer;

}

/* Banner */
.banner {
    padding: 2% 0;
}

.banner_content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner_content .banner_title {
    width: 45%;
}

.banner_title p:nth-child(1) {
    font-size: 36px;
    font-weight: 300;
}

.banner_title span {
    color: #50d50a;
}

.banner_title p:nth-child(2) {
    font-size: 14px;
    margin: 10px 0;
}

.banner_title button {
    padding: 8px 22px;
    border: 1.5px solid #50d50a;
    color: #50d50a;
    cursor: pointer;
    background-color: white;
}

.banner_content .banner_img {
    text-align: center;
    width: 60%;

}

.banner_content .banner_list {
    width: 50%;
    line-height: 1.6;
}

.banner_content .banner_list ul li {
    list-style: none;
    margin-bottom: 10px;
    position: relative;
}

.banner_content .banner_list ul li i {
    color: #50d50a;
    font-weight: 800;
    position: absolute;
    top: 15px;
    left: -20px;
}

.banner_content .banner_list .bx {
    padding-right: 5px;
    line-height: 1px;
}

.banner_content .banner_list ul li span {
    color: #50d50a;
}

.about {
    background-color: #e8e1d6;
    padding: 3% 0;
}

.about .product .product_title h1 {
    font-size: 36px;
    font-weight: 400;
    padding-bottom: 20px;
}

.about .product .product_title nav {
    margin-bottom: 25px;
}

.about .product .product_title nav a {
    margin-right: 25px;
    text-decoration: none;
    font-size: 14px;
    transition: all 0.25s;
}

.about .product .product_title nav a:hover {
    color: #50d50a;
    border-bottom: 1px solid #50d50a;
    padding-bottom: 5px;
}

.about .product .product_list .item .product_img img {
    width: 100%;
}

.about .product .product_list {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
}

.about .product .product_list .item_4 {
    grid-column-start: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 65%;

}

.about .product .product_list .item {
    background-color: white;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
}

.about .product .product_list .item .item.item_4 {
    background-color: white;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
}

.about .product .product_list .item_4 p {
    display: flex;
}

.about .product .product_list .item_4 p span {
    display: inline-block;
    padding-left: 5px;
    word-spacing: 4px;
    width: 85%;
    font-size: 16px;
}


.about .product .product_list .item i {
    color: #50d50a;
}

.product_list .item h1 {
    font-size: 18px;
    padding: 5px;
}

.product_list .item p {
    padding: 5px;
}

.product_list .item .price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product_list .item .price p {
    display: inline-block;
    margin: 15px 0 15px 0;
    color: #71956e;
    font-weight: 500;
}

.product_list .item .price .addCart {
    border: none;
    margin-right: 10%;
    font-size: 25px;
    background-color: white;
    color: #71956e;
}

.product button {
    padding: 8px 30px;
    border: 1.5px solid #71956e;
    color: #71956e;
    background-color: transparent;
    margin-top: 15px;
    cursor: pointer;
}

.feedback {
    margin: 25px 0;
}

.feedback_title h1 {
    margin: 25px 0;
    font-size: 36px;
    font-weight: normal;
}

.slider1,
.slider2 {
    background: transparent;
    height: 250px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 1000px;
    margin-bottom: 15px;
}

.slide_track1 {
    display: flex;
    width: calc(250px * 8);
    animation: scroll 40s linear infinite;
    padding: 25px 0;
}

.slide_track1:hover {
    animation-play-state: paused;
}

.slide_track2 {
    display: flex;
    width: calc(250px * 8);
    height: 100%;
    animation: scroll 40s linear infinite;
    animation-direction: reverse;
    background-color: transparent;
    padding: 25px 0;

}

.slide_track2:hover {
    animation-play-state: paused;
}

.slide {
    height: 200px;
    width: 250px;
    margin-right: 15px;
    perspective: 100px;
}

.slide_track1 .slide img,
.slide_track2 .slide img {
    z-index: 5;
    width: 100%;
    height: 100%;
    border: white;
    background-color: white;
    object-fit: cover;
    padding: 5px;
    transition: transform 1s;
}

.slide_track1 .slide img:hover,
.slide_track2 .slide img:hover {
    transform: translateZ(10px);
}

/* Footer */
.footer {
    padding: 5% 0;

}

.footer_list {
    display: flex;
    justify-content: space-between;
}


.footer_list .item h1 {
    font-size: 18px;
    font-weight: normal;
    color: #50d50a;
}

.footer_list .item ul {
    line-height: 1.5;
    margin-top: 10px;
}

.footer_list .item p {
    margin: 15px 0;
}

.footer_list .item ul li a {
    text-decoration: none;
    color: black;
    font-size: 13px;
}

.footer_list .item ul li {
    list-style: none;
}

.footer_list .item ul li img {
    width: 45px;
    margin-top: 5px;
}

.contact_email {
    border-bottom: 2px solid green;
    padding-bottom: 10px;
}

.contact_email .Email_input:focus-visible {
    border: none;
    outline: none;
}



.contact_email button {
    border: none;
    background-color: transparent;
    cursor: pointer;

}

.Email_input {
    border: none;
    width: 200px;
}

.card_pay {
    display: flex;
}

.card_pay li {
    margin-right: 10px;
}



.footer_list .item:nth-child(5),
.footer_list .item:nth-child(6) {
    width: 25%;
}

.footer_list .item a {
    transition: all 0.25s;
}

.footer_list .item a:hover {
    font-weight: 600;
    color: brown;
    font-size: 16px;
}

.title img {
    width: 20%;
}

.title span {
    font-size: 25px;
    width: 20px;
    display: inline-block;
}

.content_item {
    width: 90%;
    padding-left: 8px;
}

.social_item ul {
    display: flex;
}

.social_item ul li {
    margin-right: 15px;

}

.social_item ul li i {
    font-size: 22px;
    margin-bottom: 10px;
    cursor: pointer;
}

.copyright {
    opacity: 0.5;
    font-size: 13px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px*4));
    }
}