@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bitter', serif;
}

.container {
    padding: 20px 10%;
}

/* Header */

.header .container .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .container .wrapper .logo {
    display: flex;
}

.header .container .wrapper .logo img {
    width: 30%;
}

.header .container .wrapper .logo span {
    display: inline-block;
    font-size: 32px;
    padding-top: 10px;
}

.header .container .wrapper .menu {
    flex-grow: 1;
    text-align: center;
}

.header .container .wrapper .menu a {
    text-decoration: none;
    font-size: 20px;
    margin-left: 25px;
    color: black;
}

.header .container .wrapper .search {
    font-size: 22px;
    margin-right: 10px;
}

.header .container .wrapper .cart {

    font-size: 22px;
}

.header .container .wrapper .cart a,
.header .container .wrapper .search a {
    color: #1e4808;
}

/* Carousel */
.carousel_content {
    display: flex;
}

.carousel_content .content_left {
    width: 100%;

}

.carousel_content .content_right {
    width: 100%;
    text-align: center;
}

.carousel_content .content_left h1 {
    font-size: 56px;
    margin-top: 15%;
    font-weight: normal;
    word-spacing: 3px;
}

.carousel_content .content_left span {
    color: #527851;
    font-weight: normal;
}

.carousel_content .content_left p {
    margin-top: 25px;
    font-size: 20px;
    line-height: 30px;
    padding-right: 25%;
    padding-left: 5px;
}

.content_left .btn_buyNow {
    border: 1px solid #1e4808;
    padding: 12px 35px;
    background-color: #1e4808;
    color: white;
    margin-top: 25px;
}

.carousel_slider_btn {
    display: flex;
    margin-top: 15%;
    font-size: 40px;
    justify-content: start;
}

.carousel_slider_btn .prev i,
.carousel_slider_btn .next i {
    border: 1px solid #1e4808;
    color: white;
    background-color: #1e4808;
    margin-right: 15px;
}

.popular {
    background-color: #e8e1d6;
}

.popular .container h3 {
    font-size: 36px;
    font-weight: 300;
    margin: 15px 0;
}

.popular_listsItem {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 15px;
}

.popular_listsItem .item .imgItem img {
    width: 300px;
    height: 450px;
}

.popular_listsItem .item_3 .imgItem img,
.popular_listsItem .item_4 .imgItem img {
    width: 100%;
    height: 300%;
}


.popular_listsItem .item_3 {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 6;
}

.popular_listsItem .item_4 {
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3;
}

.popular_listsItem .item {
    background-color: white;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
}

.popular_listsItem .item img {
    border: white;
    background-color: white;
    padding: 5px;
}


.popular_listsItem .item_6 img {
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
}



.popular_listsItem .item h3 {
    font-size: 18px;
    padding: 10px;
}

.popular_listsItem .item p {
    margin: 0 30px 0 10px;
    font-size: 15px;
    line-height: 1.5;
}

.popular_listsItem .item .price span {
    display: inline-block;
    margin: 15px 0 15px 10px;
    color: #71956e;
    font-weight: 500;
}

.popular_listsItem .item .price {
    display: flex;
    justify-content: space-between;
}

.popular_listsItem .item .price .addCart {
    border: none;
    margin-right: 10%;
    font-size: 25px;
    background-color: white;
    color: #71956e;
}