body {
    text-align: center;
    animation: Zoom ease 0.5s;
    transition: 1s;
}

@keyframes Zoom {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}